@import url(/reset.css);
@font-face {
  font-family: NotoSansR;
  src: url(./font/NotoSansKR-Regular.woff);
}
@font-face {
  font-family: NotoSansM;
  src: url(./font/NotoSansKR-Medium.woff);
}
@font-face {
  font-family: NotoSansB;
  src: url(./font/NotoSansKR-Bold.woff);
}
@font-face {
  font-family: CoreSansEL;
  src: url(./font/CoreSansC25ExtraLight.woff);
}
@font-face {
  font-family: CoreSansR;
  src: url(./font/CoreSansC45Regular.woff);
}
@font-face {
  font-family: CoreSansM;
  src: url(./font/CoreSansC55Medium.woff);
}
@font-face {
  font-family: CoreSansB;
  src: url(./font/CoreSansC65Bold.woff);
}
@font-face {
  font-family: CoreSansEB;
  src: url(./font/CoreSansC75ExtraBold.woff);
}
body {
  font-family: CoreSansR, NotoSansR;
  overflow-x: hidden;
}
.flex {
  display: flex;
}
.header-top {
  position: relative;
  background: #f5f6f7;
  .inner {
    font-size: 11px;
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    a.link {
      img {
        vertical-align: middle;
      }
    }
    ul {
      display: flex;
      li {
        padding: 0 10px 10px 0;
        span {
          width: 8px;
          height: 10px;
          display: inline-block;
          background-repeat: no-repeat;
          &.cart-img {
            width: 8px;
            height: 10px;
            background-position: -11px -95px;
            background-size: 133px auto;
            vertical-align: -1px;
            background-image: url(./images/sp_icon.png);
          }
          &.cart-more {
            width: 8px;
            height: 5px;
            margin: -4px 0 0 6px;
            background-position: -16px 0;
            background-image: url(./images/arrow_bottom.png);
          }
        }
      }
    }
  }
}
header {
  height: 86px;
  .logo a {
    display: block;
    width: 160px;
    height: 28px;
    background: url(./images/logo_bk.png) no-repeat left top / cover;
  }
  .inner {
    height: 100%;
    width: 1140px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    .header-service {
      align-items: center;
      ul.menu {
        li {
          padding: 0 10px;
        }
      }
      form {
        width: 262px;
        height: 30px;
        border-radius: 20px;
        padding: 5px 7px;
        background-color: #fff;
        border: 1px solid #ff214f;
        border-radius: 15px;
        position: relative;
        input {
          color: #666;
          font-size: 12px;
          border: 0;
          width: 98%;
          font-weight: bold;
        }
        span {
          display: block;
          position: absolute;
          top: 50%;
          right: 12px;
          transform: translateY(-50%);
          width: 14px;
          height: 14px;
          background-position: -108px 0;
          background-image: url(./images/sp_icon.png);
        }
      }
    }
  }
}

.gnb {
  height: 46px;
  .inner {
    width: 1140px;
    height: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    position: relative;
    & > ul {
      font-size: 12px;
      line-height: 1.6;
      color: #555;
      position: relative;
      li {
        padding: 0 10px;
        &:hover {
          color: #ff3131;
        }
      }
    }
    .line {
      width: 1px;
      height: 30%;
      background-color: #999;
    }
  }
}

#sect1,
#sect5 {
  height: 100vh;
}
#sect1 {
  height: 600px;
  a.rolling {
    position: absolute;
    width: 1140px;
    height: 100%;
    .copywrap {
      position: absolute;
      width: 80%;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
      font-family: CoreSansR;
      & > * {
        text-align: left;
      }
      .copy {
        p {
          font-size: 40px;
          line-height: 1.25;
          font-weight: bold;
        }
        span {
          display: inline-block;
          position: relative;
          height: 24px;
          padding: 0 8px;
          color: #fff;
          font-size: 13px;
          line-height: 23px;
          font-weight: bold;
          border-radius: 12px;
          vertical-align: top;
          &::after {
            content: "";
            display: inline-block;
            position: absolute;
            left: 0;
            top: 12px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 12px 12px 0 0;
          }
          &.red {
            background-color: #ff3131;
            &::after {
              border-color: #ff3131 transparent transparent transparent;
            }
          }
          &.green {
            background-color: #00b160;
            &::after {
              border-color: #00b160 transparent transparent transparent;
            }
          }
          &.black {
            background-color: #000;
            &::after {
              border-color: #000 transparent transparent transparent;
            }
          }
        }
      }
      .subcopy {
        font-size: 15px;
        line-height: 60px;
        color: #0d0d0d !important;
      }
    }
  }
  .custom {
    color: #fff;
    &.swiper-button-prev {
      left: 80px;
    }
    &.swiper-button-next {
      right: 80px;
    }
  }
}
#sect2 {
  padding: 58px 0;
  background: url(./images/bg_pattern_slash.png);
  .inner {
    width: 1140px;
    margin: 0 auto;
    &::after {
      visibility: hidden;
      display: block;
      clear: both;
      height: 0;
      content: "";
    }
    .flLt {
      float: left;
      p {
        padding: 20px 0 117px;
        color: #ff3131;
        font-size: 32px;
        line-height: 33px;
        font-weight: 200;
      }
    }
    .items {
      float: right;
      text-align: center;
      padding-right: 18px;
      ul {
        width: 880px;
        li {
          float: left;
          width: 244px;
          margin-left: 46px;
          .thumb {
            width: 220px;
            border: 12px solid #fff;
            border-radius: 50%;
          }
          img {
            vertical-align: middle;
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
          .name {
            padding: 15px 12px 0;
            font-size: 15px;
            line-height: 1.4;
            white-space: normal;
          }
          .price{
            font-size: 16px;
            font-weight: bold;
            span{
              color: #ff3131;
            }
          }
        }
      }
    }
  }
}
#sect3 {
  display: flex;
  //   align-items: center;
  width: 100%;
  height: 680px;
  overflow: hidden;
  position: relative;
  .inner {
    display: flex;
    position: relative;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    background: #f7f7f7;
  }
  article {
    display: flex;
    position: relative;
    left: 0;
    height: 680px;
    background: #f7f7f7;
    & > div {
      // padding: 0 100px;
    }
    div.down {
      align-self: flex-end;
    }
  }
  .btn {
    position: absolute;
    display: block;
    z-index: 99;
    width: 20px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    &.prev {
      left: 50px;
    }
    &.next {
      z-index: 99;
      right: 50px;
    }
    img {
      width: 100%;
      display: block;
    }
  }
}
footer {
  min-width: 1140px;
  color: #000;
  font-size: 13px;
  font-weight: normal;
  .footer-nav {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    ul {
      position: relative;
      overflow: hidden;
      width: 1140px;
      margin: 0 auto;
      display: flex;
      padding: 8px 0;
      li {
        font-size: 15px;
        padding: 0px 13px;
        &:nth-child(1) {
          padding: 0 13px 0 0;
        }
        &:hover {
          color: #ff3131;
        }
      }
    }
  }
  .footer-V18 {
    position: relative;
    width: 1100px;
    margin: 42px auto;
    padding-left: 200px;
    text-align: left;
    .footer-logo {
      position: absolute;
      left: 0;
      top: 0;
      width: 140px;
    }
    .footer-cont {
      float: left;
    }
    .company {
      width: 568px;
      em {
        font-size: 16px;
        font-style: normal;
      }
      p {
        line-height: 3;
        font-style: normal;
      }
    }
    .cs {
      width: 300px;
      padding-top: 47px;
      .footer-cscenter {
        width: 310px;
        padding: 16px 0 25px 16px;
        background: #f7f7f7;
        border-radius: 8px;
        .tit {
          font-weight: bold;
          line-height: 3;
        }
        span {
          line-height: 2;
          font-size: 11px;
          color: #999;
          &.time {
            color: #000;
          }
        }
      }
    }
    .footer-sns {
      display: flex;
      align-items: center;
      position: absolute;
      right: 255px;
      top: 0;
      img {
        width: 25px;
      }
    }
  }
}
