@import "/reset.css";
a {
  color: inherit;
}
@font-face {
  font-family: MontserratB;
  src: url(./font/Montserrat-Bold.woff);
}
@font-face {
  font-family: MontserratEL;
  src: url(./font/Montserrat-ExtraLight.woff);
}
@font-face {
  font-family: NotosansT;
  src: url(./font/NotoSans-Thin.woff);
}
@font-face {
  font-family: NotosansR;
  src: url(./font/NotoSans-Regular.woff);
}
@font-face {
  font-family: NotosansL;
  src: url(./font/NotoSans-Light.woff);
}
@font-face {
  font-family: NotosansM;
  src: url(./font/NotoSans-Medium.woff);
}

.flex {
  display: flex;
}
body {
  font-family: NotosansL;
  width: 100vw;
  line-height: 1;
  letter-spacing: -0.6px;
  overflow-x: hidden;
}
header{
  width: 100vw;
  height: 70px;
  background-color: #fff;
  position: fixed;
  a.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    img{
      height: 49px;
    }
  }
  a.more{
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    img{
      width: 20px;
    }
  }
}
#sect1 {
  width: 100%;
  height: 1166px;
  .bgvideo {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(39, 145, 115, 0.9);
      left: 0;
      top: 0;
    }
    video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 100%;
      min-height: 100%;
    }
  }
  .title {
    color: white;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding-top: 180px;
    margin-bottom: 120px;
    p {
      font-family: NotosansL;
      font-size: 24px;
      margin-top: 40px;
    }
    h2 {
      font-size: 240px;
      line-height: 170px;
      font-family: MontserratB;
      letter-spacing: -8px;
    }
  }
  .articlewrap {
    background: white;
    width: 1024px;
    height: 470px;
    position: relative;
    margin-bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    article {
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      &.on {
        opacity: 1;
        z-index: 99;
      }
      &.on figure span {
        opacity: 1;
        transform: translateY(0);
      }
      &.on .desc .summary {
        opacity: 1;
        transform: translateY(0px);
      }
      &.on .desc .detail {
        opacity: 1;
        transform: translateY(0px);
      }
      &.on .desc .btn {
        opacity: 1;
        transform: translateY(0px);
      }
      .desc {
        position: relative;
        top: 30px;
        left: 40px;
        color: #333;
        .summary {
          font-size: 80px;
          letter-spacing: -5px;
          font-family: NotosansT;
          transform: translateY(40px);
          opacity: 0;
          transition: 0.35s;
          .text {
            font-size: 50px;
          }
          p {
            margin-top: 20px;
          }
        }
        .detail {
          font-size: 18px;
          line-height: 28px;
          margin-top: 35px;
          color: #666;
          font-family: NotosansL;
          transform: translateY(40px);
          transition: 0.35s 0.2s;
          opacity: 0;
        }
        .btn {
          width: 400px;
          position: absolute;
          top: 330px;
          transform: translateY(40px);
          transition: 0.35s 0.4s;
          opacity: 0;
          li {
            display: inline-block;
            margin-right: 10px;
            width: 180px;
            height: 60px;
            font-family: NotosansR;
            border-radius: 50px;
            font-size: 20px;
            line-height: 60px;
            text-align: center;
            color: #fff;
            background: #149f5c;
          }
        }
      }
      figure {
        width: 520px;
        height: 536px;
        position: absolute;
        right: -184px;
        bottom: -1px;
        span {
          display: inline-block;
          position: absolute;
          transform: translateY(100px);
          opacity: 0;
          &:nth-child(1) {
            transition: 0.5s 0.5s;
          }
          &:nth-child(2) {
            transition: 0.5s 1s;
          }
        }
        .mainProduct {
          position: relative;
          height: 126px;
          bottom: 0;
        }
        .subProduct {
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }
  .tab {
    border-top: 1px solid #ffffff81;
    padding: 20px 0;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    z-index: 100;
    p.dot {
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background: white;
      top: -5px;
    }
    .tabmenu {
      margin: auto;
      width: 1024px;
      display: flex;
      justify-content: space-between;
      li {
        font-family: NotosansL;
        font-size: 20px;
        color: #ffffff81;
        cursor: pointer;
        &.on {
          font-family: NotosansM;
          color: white;
        }
      }
    }
  }
  .morebrand {
    color: #333;
    position: relative;
    left: 46%;
    background: white;
    padding: 10px;
    border-radius: 20px;
    font-family: NotosansR;
  }
}

#sect2 {
  width: 100%;
  margin-top: 150px;
  position: relative;
  .product-header {
    margin: auto;
    height: 100px;
    background-color: #fff;
    font-family: NotosansM;
    ul.item {
      height: 100%;
      justify-content: center;
      align-items: center;
      gap: 28px;
      a {
        position: relative;
        display: block;
        padding: 10px;
        &:hover::after {
          position: absolute;
          content: "";
          height: 3px;
          width: 110%;
          left: 50%;
          transform: translateX(-50%);
          background-color: #149f5c;
          bottom: 0;
        }
        &.on::after {
          position: absolute;
          content: "";
          height: 3px;
          width: 110%;
          left: 50%;
          transform: translateX(-50%);
          background-color: #149f5c;
          bottom: 0;
        }
      }
    }
  }
  .allPd{
    width: 100%;
    position: absolute;
  img{
    width: 100%;
  }}
  .prod-list {
    width: 100%;
    background-color: #fff;
    padding: 140px;
  }
  .grid {
    margin: auto;
    padding-top: 50px;
    &::after {
      content: "";
      display: block;
      clear: both;
    }
    .grid-item {
      float: left;
      position: relative;
      img {
        vertical-align: top;
      }
      h2 {
        position: absolute;
        top: 1rem;
        font-size: 20px;
        color: #fff;
        text-align: center;
        width: 100%;
      }
    }
  }
}
footer{
  padding: 60px 0 55px;
  position: relative;
  background: #fff;
  color: #888;
  a.logo{
    display: block;
    width: 100%;
    position: relative;
    text-align: center;
    img{
      height: 100px;
    }
  }
  ul.footer{
    margin: 40px auto 0;
    li{
      display: inline-block;
    }
  }
  .copyright{
    color: #bbb;
  }
  a.top{
    right: 0;
    bottom: 0;
    position: fixed;
    width: 60px;
    height: 60px;
    font-size: 15px;
    color: #fff;
    text-align: center;
    line-height: 60px;
    background: #919191;
  }
}

// 반응형 시작 -----------------------
// 모바일-------------
@media screen and (max-width: 780px){
  .grid{
    width: 295px;
   }
   footer{
    padding: 60px 24px 55px;
    text-align: left;
    font-size: 12px;
    a.logo{
      padding-top: 25px;
      padding: 25px 0 0;
      img{
        height: 24px;
      }
    }
    ul.footer{
      text-align: center;
      li{
        padding: 0 10px;
      }
    }
    .footer-info{
      padding: 20px 0 0 10px;
    }
    .copyright{
      font-size: 11px;
      line-height: 26px;
      margin-top: 10px;
    }
   }
}
@media screen and (min-width:781px) and (max-width:1200px) {
  .product-header{
    width: 100%;
  }
  .grid{
   width: 594px;
  }
  footer{
    padding: 60px 24px 55px;
    text-align: center;
    font-size: 12px;
    a.logo{
      padding: 25px 0 0;
      img{
        height: 24px;
      }
    }
    ul.footer{
      text-align: center;
      li{
        padding: 0 10px;
      }
    }
    .footer-info{
      padding: 20px 0 0 10px;
    }
    .copyright{
      font-size: 14px;
      line-height: 26px;
      margin-top: 10px;
    }
   }
}

//태블렛-------------------
@media screen and (min-width:1201px) {
  .product-header{
    width: 1184px;
  }
  .grid{
    max-width: 890px;
  }
  footer{
    padding: 75px 5% 35px;
    text-align: center;
    font-size: 18px;
    a.logo{
      height: 48px;
      img{
        height: 100%;
      }
    }
    ul.footer{
      font-size: 18px;
      text-align: center;
      li{
        padding: 0 10px;
      }
    }
    .footer-info{
      padding: 40px 0 ;
    }
    .copyright{
      font-size: 14px;
      line-height: 26px;
      margin-top: 10px;
    }
   }
}